/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .loading-spinner {
    background: #333;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: none;
  }
  
  .loading-spinner.active {
    display: block;
  }
  
  #hourglass { /* centraliza no meio da tela */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
  }

  .input-group-text {

    background-color: #3d0f96 !important;
  
}

i{
  color: white;
}

.btn-primary.btn-lg.btn-block {
  background-color: #B100C9 ;
  border: #3d0f96 !important ;
  /* width: 40%; */
  margin: 0 auto;
  width: 50%; /* Valor da Largura */
}

input[type=text]:focus {    
  box-shadow: 0 1px 0 0 #ff9800; 
  border: 2px solid #ff9800;
}

input[type=password]:focus {    
  box-shadow: 0 1px 0 0 #ff9800; 
  border: 2px solid #ff9800;
}

.card-body {
  /* text-align: center; */
  border: solid 1px #B100C9 ;
  
}